USE [master]
GO
/****** Object:  Database [PetClinic]    Script Date: 8/25/2025 3:10:27 PM ******/
CREATE DATABASE [PetClinic]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PetClinic', FILENAME = N'D:\MSSQLDB\PetClinic.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PetClinic_log', FILENAME = N'D:\MSSQLDB\PetClinic_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PetClinic].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PetClinic]
GO
USE [PetClinic]
GO
/****** Object:  Table [dbo].[ActivityLog]    Script Date: 8/25/2025 3:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActivityLog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Action] [nvarchar](100) NOT NULL,
	[Type] [nvarchar](50) NULL,
	[Message] [nvarchar](max) NULL,
	[Timestamp] [datetime2](7) NOT NULL,
	[UserId] [int] NULL,
	[Details] [nvarchar](max) NULL,
	[IpAddress] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Appointments]    Script Date: 8/25/2025 3:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointments](
	[AppointmentId] [int] IDENTITY(1,1) NOT NULL,
	[PatientId] [int] NOT NULL,
	[VetId] [int] NOT NULL,
	[AppointmentDate] [datetime] NOT NULL,
	[Duration] [int] NULL,
	[Reason] [nvarchar](255) NULL,
	[Status] [nvarchar](20) NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AppointmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Billing]    Script Date: 8/25/2025 3:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Billing](
	[BillId] [int] IDENTITY(1,1) NOT NULL,
	[ConsultationId] [int] NULL,
	[AppointmentId] [int] NULL,
	[TotalAmount] [decimal](10, 2) NOT NULL,
	[PaidAmount] [decimal](10, 2) NULL,
	[Balance] [decimal](10, 2) NULL,
	[BillDate] [datetime] NULL,
	[DueDate] [datetime] NULL,
	[Status] [nvarchar](20) NULL,
	[Notes] [nvarchar](max) NULL,
	[PatientId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[BillId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BillingDetails]    Script Date: 8/25/2025 3:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillingDetails](
	[BillingDetailId] [int] IDENTITY(1,1) NOT NULL,
	[BillId] [int] NOT NULL,
	[ItemType] [nvarchar](50) NOT NULL,
	[ItemId] [int] NULL,
	[Description] [nvarchar](255) NOT NULL,
	[Quantity] [int] NULL,
	[UnitPrice] [decimal](10, 2) NOT NULL,
	[TotalPrice] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BillingDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Consultations]    Script Date: 8/25/2025 3:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Consultations](
	[ConsultationId] [int] IDENTITY(1,1) NOT NULL,
	[AppointmentId] [int] NOT NULL,
	[VetId] [int] NOT NULL,
	[PatientId] [int] NOT NULL,
	[ConsultationDate] [datetime] NULL,
	[Weight] [decimal](5, 2) NULL,
	[Temperature] [decimal](5, 2) NULL,
	[HeartRate] [int] NULL,
	[RespirationRate] [int] NULL,
	[Diagnosis] [nvarchar](max) NULL,
	[Notes] [nvarchar](max) NULL,
	[FollowUpDate] [datetime] NULL,
	[IsFollowUp] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ConsultationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConsultationTreatments]    Script Date: 8/25/2025 3:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConsultationTreatments](
	[ConsultationTreatmentId] [int] IDENTITY(1,1) NOT NULL,
	[ConsultationId] [int] NOT NULL,
	[TreatmentId] [int] NOT NULL,
	[Details] [nvarchar](max) NULL,
	[Cost] [decimal](10, 2) NULL,
	[Notes] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ConsultationTreatmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiagnosticTests]    Script Date: 8/25/2025 3:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiagnosticTests](
	[TestId] [int] IDENTITY(1,1) NOT NULL,
	[ConsultationId] [int] NULL,
	[TestType] [nvarchar](50) NOT NULL,
	[TestName] [nvarchar](100) NOT NULL,
	[TestDate] [datetime] NULL,
	[Results] [nvarchar](max) NULL,
	[Notes] [nvarchar](max) NULL,
	[Status] [nvarchar](20) NULL,
	[FilePath] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[TestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Owners]    Script Date: 8/25/2025 3:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Owners](
	[OwnerId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](255) NULL,
	[City] [nvarchar](50) NULL,
	[State] [nvarchar](50) NULL,
	[ZipCode] [nvarchar](20) NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[EmergencyContact] [nvarchar](100) NULL,
	[EmergencyPhone] [nvarchar](20) NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[UserId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OwnerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patients]    Script Date: 8/25/2025 3:10:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients](
	[PatientId] [int] IDENTITY(1,1) NOT NULL,
	[OwnerId] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Species] [nvarchar](50) NOT NULL,
	[Breed] [nvarchar](50) NULL,
	[DateOfBirth] [date] NULL,
	[Gender] [nvarchar](10) NULL,
	[Color] [nvarchar](50) NULL,
	[MicrochipId] [nvarchar](50) NULL,
	[Allergies] [nvarchar](max) NULL,
	[MedicalNotes] [nvarchar](max) NULL,
	[PhotoPath] [nvarchar](255) NULL,
	[IsActive] [bit] NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PatientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prescriptions]    Script Date: 8/25/2025 3:10:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prescriptions](
	[PrescriptionId] [int] IDENTITY(1,1) NOT NULL,
	[ConsultationId] [int] NOT NULL,
	[MedicationName] [nvarchar](100) NOT NULL,
	[Dosage] [nvarchar](50) NOT NULL,
	[Frequency] [nvarchar](50) NOT NULL,
	[Duration] [nvarchar](50) NOT NULL,
	[Instructions] [nvarchar](max) NULL,
	[PrescribedDate] [datetime] NULL,
	[IsDispensed] [bit] NULL,
	[Refills] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PrescriptionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service]    Script Date: 8/25/2025 3:10:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[ServiceId] [int] IDENTITY(1,1) NOT NULL,
	[ServiceName] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemSettings]    Script Date: 8/25/2025 3:10:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemSettings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Key] [nvarchar](100) NOT NULL,
	[Value] [nvarchar](500) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Treatments]    Script Date: 8/25/2025 3:10:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Treatments](
	[TreatmentId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[Category] [nvarchar](50) NULL,
	[DefaultCost] [decimal](10, 2) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[TreatmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 8/25/2025 3:10:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Phone] [nvarchar](20) NULL,
	[IsActive] [bit] NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vaccinations]    Script Date: 8/25/2025 3:10:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vaccinations](
	[VaccineId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[Species] [nvarchar](50) NULL,
	[RecommendedSchedule] [nvarchar](255) NULL,
	[Duration] [int] NULL,
	[IsCore] [bit] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[VaccineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaccineRecords]    Script Date: 8/25/2025 3:10:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaccineRecords](
	[RecordId] [int] IDENTITY(1,1) NOT NULL,
	[VaccineId] [int] NOT NULL,
	[PatientId] [int] NOT NULL,
	[AdministeredBy] [int] NOT NULL,
	[DateGiven] [date] NOT NULL,
	[NextDueDate] [date] NULL,
	[LotNumber] [nvarchar](50) NULL,
	[Notes] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[RecordId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Appointments] ON 

INSERT [dbo].[Appointments] ([AppointmentId], [PatientId], [VetId], [AppointmentDate], [Duration], [Reason], [Status], [Notes], [CreatedDate]) VALUES (2, 3, 2, CAST(N'2025-08-21T10:15:00.000' AS DateTime), 15, N'Testing', N'Completed', N'test', CAST(N'2025-08-21T10:11:29.387' AS DateTime))
SET IDENTITY_INSERT [dbo].[Appointments] OFF
SET IDENTITY_INSERT [dbo].[Consultations] ON 

INSERT [dbo].[Consultations] ([ConsultationId], [AppointmentId], [VetId], [PatientId], [ConsultationDate], [Weight], [Temperature], [HeartRate], [RespirationRate], [Diagnosis], [Notes], [FollowUpDate], [IsFollowUp]) VALUES (3, 2, 2, 3, CAST(N'2025-08-21T10:21:11.987' AS DateTime), CAST(15.00 AS Decimal(5, 2)), CAST(30.00 AS Decimal(5, 2)), 52, 52, N'Illness', N'test', CAST(N'2025-08-28T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Consultations] ([ConsultationId], [AppointmentId], [VetId], [PatientId], [ConsultationDate], [Weight], [Temperature], [HeartRate], [RespirationRate], [Diagnosis], [Notes], [FollowUpDate], [IsFollowUp]) VALUES (4, 2, 2, 3, CAST(N'2025-08-21T11:12:28.397' AS DateTime), CAST(20.00 AS Decimal(5, 2)), CAST(30.00 AS Decimal(5, 2)), 50, 50, N'test', N'test', NULL, 0)
SET IDENTITY_INSERT [dbo].[Consultations] OFF
SET IDENTITY_INSERT [dbo].[Owners] ON 

INSERT [dbo].[Owners] ([OwnerId], [FirstName], [LastName], [Address], [City], [State], [ZipCode], [Phone], [Email], [EmergencyContact], [EmergencyPhone], [Notes], [CreatedDate], [UserId]) VALUES (4, N'Su Myat', N'Tun', N'Shwe Lin Pan, Yaw Min Gyi', N'HlaingTharYar', N'Yangon Region', N'11401', N'09694282600', N'vickieforstudy@gmail.com', N'Vickie', N'09694282600', N'testing', CAST(N'2025-08-20T13:54:18.277' AS DateTime), 7)
SET IDENTITY_INSERT [dbo].[Owners] OFF
SET IDENTITY_INSERT [dbo].[Patients] ON 

INSERT [dbo].[Patients] ([PatientId], [OwnerId], [Name], [Species], [Breed], [DateOfBirth], [Gender], [Color], [MicrochipId], [Allergies], [MedicalNotes], [PhotoPath], [IsActive], [CreatedDate]) VALUES (3, 4, N'Baby', N'Dog', N'Telia', CAST(N'2022-08-20' AS Date), N'Female', N'White and Black', N'-', N'no', N'no', N'/UserUploadImage/81d63354-9373-431c-a85a-d0832eda1a37.png', 1, CAST(N'2025-08-20T13:49:19.343' AS DateTime))
INSERT [dbo].[Patients] ([PatientId], [OwnerId], [Name], [Species], [Breed], [DateOfBirth], [Gender], [Color], [MicrochipId], [Allergies], [MedicalNotes], [PhotoPath], [IsActive], [CreatedDate]) VALUES (4, 4, N'Paw', N'Cat', N'နိုင်ငံခြားမျိုးစိတ်', CAST(N'2022-08-20' AS Date), N'Male', N'Yellow', NULL, N'no', N'no', N'/UserUploadImage/228b4d7d-497a-4165-a379-0306d54ce9eb.png', 1, CAST(N'2025-08-20T13:49:49.770' AS DateTime))
SET IDENTITY_INSERT [dbo].[Patients] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Username], [Password], [Email], [Role], [FirstName], [LastName], [Phone], [IsActive], [CreatedDate]) VALUES (1, N'admin', N'admin123', N'admin@example.com', N'Admin', N'System', N'Administrator', N'095210647', 1, CAST(N'2025-08-20T13:46:57.617' AS DateTime))
INSERT [dbo].[Users] ([UserId], [Username], [Password], [Email], [Role], [FirstName], [LastName], [Phone], [IsActive], [CreatedDate]) VALUES (2, N'vet', N'vet123', N'vet@example.com', N'Veterinarian', N'U Nyi', N'Nyi', N'0954123654', 1, CAST(N'2025-08-20T13:46:57.617' AS DateTime))
INSERT [dbo].[Users] ([UserId], [Username], [Password], [Email], [Role], [FirstName], [LastName], [Phone], [IsActive], [CreatedDate]) VALUES (3, N'staff', N'staff123', N'staff@example.com', N'Staff', N'Staff', N'one', N'0987456321', 1, CAST(N'2025-08-20T13:46:57.617' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
ALTER TABLE [dbo].[ActivityLog] ADD  DEFAULT (getdate()) FOR [Timestamp]
GO
ALTER TABLE [dbo].[Appointments] ADD  DEFAULT ((30)) FOR [Duration]
GO
ALTER TABLE [dbo].[Appointments] ADD  DEFAULT ('Scheduled') FOR [Status]
GO
ALTER TABLE [dbo].[Appointments] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Billing] ADD  DEFAULT ((0.00)) FOR [PaidAmount]
GO
ALTER TABLE [dbo].[Billing] ADD  DEFAULT ((0.00)) FOR [Balance]
GO
ALTER TABLE [dbo].[Billing] ADD  DEFAULT (getdate()) FOR [BillDate]
GO
ALTER TABLE [dbo].[Billing] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[BillingDetails] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Consultations] ADD  DEFAULT (getdate()) FOR [ConsultationDate]
GO
ALTER TABLE [dbo].[Consultations] ADD  DEFAULT ((0)) FOR [IsFollowUp]
GO
ALTER TABLE [dbo].[DiagnosticTests] ADD  DEFAULT (getdate()) FOR [TestDate]
GO
ALTER TABLE [dbo].[DiagnosticTests] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Owners] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Patients] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Patients] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Prescriptions] ADD  DEFAULT (getdate()) FOR [PrescribedDate]
GO
ALTER TABLE [dbo].[Prescriptions] ADD  DEFAULT ((0)) FOR [IsDispensed]
GO
ALTER TABLE [dbo].[Prescriptions] ADD  DEFAULT ((0)) FOR [Refills]
GO
ALTER TABLE [dbo].[Service] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Service] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[SystemSettings] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Treatments] ADD  DEFAULT ((0.00)) FOR [DefaultCost]
GO
ALTER TABLE [dbo].[Treatments] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Vaccinations] ADD  DEFAULT ((1)) FOR [IsCore]
GO
ALTER TABLE [dbo].[Vaccinations] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ActivityLog]  WITH CHECK ADD  CONSTRAINT [FK_ActivityLog_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[ActivityLog] CHECK CONSTRAINT [FK_ActivityLog_User]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patients] ([PatientId])
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD FOREIGN KEY([VetId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Billing]  WITH CHECK ADD FOREIGN KEY([AppointmentId])
REFERENCES [dbo].[Appointments] ([AppointmentId])
GO
ALTER TABLE [dbo].[Billing]  WITH CHECK ADD FOREIGN KEY([ConsultationId])
REFERENCES [dbo].[Consultations] ([ConsultationId])
GO
ALTER TABLE [dbo].[BillingDetails]  WITH CHECK ADD FOREIGN KEY([BillId])
REFERENCES [dbo].[Billing] ([BillId])
GO
ALTER TABLE [dbo].[Consultations]  WITH CHECK ADD FOREIGN KEY([AppointmentId])
REFERENCES [dbo].[Appointments] ([AppointmentId])
GO
ALTER TABLE [dbo].[Consultations]  WITH CHECK ADD FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patients] ([PatientId])
GO
ALTER TABLE [dbo].[Consultations]  WITH CHECK ADD FOREIGN KEY([VetId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[ConsultationTreatments]  WITH CHECK ADD FOREIGN KEY([ConsultationId])
REFERENCES [dbo].[Consultations] ([ConsultationId])
GO
ALTER TABLE [dbo].[ConsultationTreatments]  WITH CHECK ADD FOREIGN KEY([TreatmentId])
REFERENCES [dbo].[Treatments] ([TreatmentId])
GO
ALTER TABLE [dbo].[DiagnosticTests]  WITH CHECK ADD FOREIGN KEY([ConsultationId])
REFERENCES [dbo].[Consultations] ([ConsultationId])
GO
ALTER TABLE [dbo].[Patients]  WITH CHECK ADD FOREIGN KEY([OwnerId])
REFERENCES [dbo].[Owners] ([OwnerId])
GO
ALTER TABLE [dbo].[Prescriptions]  WITH CHECK ADD FOREIGN KEY([ConsultationId])
REFERENCES [dbo].[Consultations] ([ConsultationId])
GO
ALTER TABLE [dbo].[VaccineRecords]  WITH CHECK ADD FOREIGN KEY([AdministeredBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[VaccineRecords]  WITH CHECK ADD FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patients] ([PatientId])
GO
ALTER TABLE [dbo].[VaccineRecords]  WITH CHECK ADD FOREIGN KEY([VaccineId])
REFERENCES [dbo].[Vaccinations] ([VaccineId])
GO
USE [master]
GO
